
<link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">

<div class="container text-center">
  <div *ngIf="!finQuiz" > 
    <h1>Questions du theme {{theme}} Niveau {{level}}</h1>
    <div class="col-md-10 column">
        <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">{{question[index].question}}</h3>
            </div>
            <div class="panel-body">
              <div class="radio" *ngFor="let enum of question[index].propositions">
                <label>
                  <input type="radio" name="optionsRadios" id="optionsRadios1" [value]='enum' [(ngModel)]="radioSelected"> 
                  {{enum}}
                </label>
              </div>
      
            </div>
            <div class="panel-footer">
              

              
              <div class="row">
                <div class="col-5"></div>
                <div class="col-2">
                  <a class="btn btn-primary "  role="button" (click)="suivant()">Suivant</a>
                </div>
                <div class="col-3"></div>
                <div class ="col-2"><h4>Temps :{{timeLeft}}s</h4></div>
              </div>
              
              
            </div>
          </div>
        
    </div>


  </div> 


  <div *ngIf="finQuiz" > 
    <div class="col-md-10 column">
        <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Resultat</h3>
            </div>
            <div class="panel-body">
              <h3><strong>Nombre de bonne reponses: </strong> {{nmbrBonneRep}} </h3>
              <h3><strong>Score: </strong> {{score}}</h3>
            </div>
            <div class="panel-footer">
            </div>
          </div>
        
    </div>


  </div> 

</div>