
<link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">

<div class="container">
	<div class="row">
		<div class="col-md-5 mx-auto user-details">
            <div class="user-image">
                <img [src]="avatar" alt="user image" class="img-circle" width="100" height="100">
            </div>
            <div class="user-info-block">
                <div class="user-heading">
                    <h2>{{nomPrenom | uppercase}}</h2>
                </div>
                <ul class="navigation">
                    <li class="active">
                        <a data-toggle="tab" href="#information">
                            <span class="glyphicon glyphicon-user"></span>
                        </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#events">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </a>
                    </li>
                </ul>
                <div class="user-body">
                    <div class="tab-content">
                        <div id="information" class="tab-pane active">
                            <h4><strong>Humeur: </strong> {{humeur}} </h4>
                            <h4><strong>Date de naissance: </strong> {{dateNaissance | date:'medium'}}</h4>

                            <div class="panel panel-primary">
                                <div class="panel-heading">Modification</div>
                                <div class="panel-body">
                                    <form #myform="ngForm">
                                    <div class="form-group">
                                        <div class="row">
                                            <label class="col-sm-2 col-form-label" for="inputDefault1">Humeur:</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="inputDefault1" required
                                                [(ngModel)]="humeur" name="humeur">
                                            </div>
                                        </div>
                                        
                                        <div class="row">
                                            <label class="col-sm-2 col-form-label" for="inputDefault2">avatar:</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="inputDefault2" required
                                                [(ngModel)]="avatar" name="avatar">
                                            </div>
                                        </div>
                                        <button type="button" [disabled] ="!myform.form.valid" (click)="update()" class="btn btn-primary pull-right">Enregister</button>
                                    </div>
                                  </form>
                                </div>

                                
                            </div>

                        </div>
                        <div id="events" class="tab-pane">
                            <table class="table table-hover">
                                <thead>
                                    <tr class="table-active">
                                      <th scope="col">Date</th>
                                      <th scope="col">Niveau</th>
                                      <th scope="col">Nombre de bonne reponse</th>
                                      <th scope="col">Temps</th>
                                      <th scope="col">Score</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    
                                  </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</div>
</div>
