<div class="container">
    <div class="row">
        <form #myform="ngForm">
        <h4>Choix de la difficulté : </h4>
        <div class="form-group">
            <select [(ngModel)]="selectedNiveau" class="custom-select" ngModel required>
                <option *ngFor= "let n of niveau" value="{{n.value}}" >{{n.name}}</option>
            </select>
        </div>
        <h4>Choix du theme : </h4>
        <div class="form-group">
            <select [(ngModel)]="selectedTheme" class="custom-select" ngModel required>
                <option *ngFor= "let t of quiz.listTheme" value="{{t}}" >{{t}}</option>
            </select>
        
        </div>
        <button type="button" [routerLink]="['/quiz', selectedTheme, selectedNiveau]" [disabled]="!myform.form.valid" (click)="print()" class="btn btn-success">Jouer</button>
        </form>
    </div>  
</div>
